<footer class="footer mt-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <h5>Về chúng tôi</h5>
        <p>Eclipse Cinema là hệ thống đặt vé cho những bộ phim mới nhất và trải nghiệm điện ảnh tuyệt vời.</p>
      </div>
      <div class="col-md-4">
        <h5>Liên hệ</h5>
        <p>Email: huynhhuuloc81206@gmail.com</p>
        <p>Điện thoại: 0901 020 761</p>
      </div>
      <div class="col-md-4">
        <h5>Theo dõi chúng tôi</h5>
        <a href="#" class="me-2"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="me-2"><i class="fab fa-twitter"></i></a>
        <a href="#" class="me-2"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="mt-3">
      <p>&copy; 2025 Eclipse Cinema</p>
    </div>
  </div>
</footer>
